<style>
    a:link,
    a:visited {
        color: #fff;
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 1px solid #e67e22;
        -webkit-transition: border-bottom 0.2s, color 0.2s;
        transition: border-bottom 0.2s, color 0.2s;
    }
    a:hover,
    a:active {
        color: #e67e22;
        border-bottom: 1px solid transparent;
    }
    p {
        font-style: italic;
        line-height: 145%;
        position: relative;
        margin-top: 40px;
    }

</style>
<section class="section-testimonials">
    <div class="row">
        <h2>My Recipes</h2>
    </div>
    <% @authored_recipes.each.with_index do |ar, i| %>
   
        <% if i%3 == 0 %>
            <div class="row">
        <% end %>
        <div class="col span-1-of-3">
            <a href="/recipes/<%= ar.id %>">
                <h3><cite><%= ar.name %></cite></h3>
                <p>
                Level: <%= ar.level %><br>
                Cooking time: <%= ar.cooking_time %><br>
                Ingredients: <%= ar.ingredients %><br>
                Saved: <%= ar.save_times %>
                </p>
            </a>
        </div>
        <% if i%3 == 2 %>
            </div>
        <% end %>
    <% end %>

</section>