<style>
    a:link,
    a:visited {
        color: #fff;
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 1px solid #e67e22;
        -webkit-transition: border-bottom 0.2s, color 0.2s;
        transition: border-bottom 0.2s, color 0.2s;
    }
    a:hover,
    a:active {
        color: #e67e22;
        border-bottom: 1px solid transparent;
    }
    p {
        font-style: italic;
        line-height: 145%;
        position: relative;
        margin-top: 40px;
    }
    .bt {
        text-align: center;
    }

</style>
<section class="section-testimonials">
    <div class="row">
        <h2><%= @recipe.name %></h2>
    </div>
    <div class="row">
        <div class="col span-3-of-7">
            <p>
            <a href="/userindex/<%= @recipe.author.slug %>"><cite>Authored by <%= @recipe.author.username %></cite></a><br>
            Level: &nbsp&nbsp<%= @recipe.level %><br>
            <br>
            Cooking time: &nbsp&nbsp<%= @recipe.cooking_time %>
            </p>
            <p><%= @recipe.ingredients %></p>
        </div>
        <div class="col span-1-of-7">
        </div>
        <div class="col span-3-of-7">
            <p><%= @recipe.steps %></p>
        </div>
    </div>
    <% if @recipe.author_id == current_user.id %>
        <form method="POST" action="/recipes/<%= @recipe.id %>/delete">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <div class="bt">
            <a class="btn btn-ghost js--scroll-to-start" href="/recipes/<%=@recipe.id%>/edit">Edit</a>
            <input type="submit" class="btn btn-ghost js--scroll-to-start" value="Delete">
        </div>
        </form>
    <% else %>
        <% if current_user.saved_recipes.include?(@recipe) %>
            <form method="POST" action="/recipes/<%= @recipe.id %>/unsave">
            <div class="bt">
                <input type="submit" class="btn btn-ghost js--scroll-to-start" value="Unsave">
            </div>
            </form>
        <% else %>  
            <form method="POST" action="/recipes/<%= @recipe.id %>/save">
            <div class="bt">
                <input type="submit" class="btn btn-ghost js--scroll-to-start" value="Save">
            </div>
            </form>
        <% end %>
    <% end %>
</section>